/*.login_logo{margin-left: auto;margin-right: auto;}*/

.login_logo {
  display: block;
  margin: 0 auto 20px auto;
  width: 140px;
  height: auto;
}
.max-w-md{
  max-width: 30rem;
}
.text-sm-domain-validation{
  font-size: 12px;
  font-weight: bold;
}