/*.login_logo{margin-left: auto;margin-right: auto;}*/

.login_logo {
  display: block;
  margin: 0 auto 20px auto;
  width: 140px;
  height: auto;
}
.max-w-md{
  max-width: 30rem;
}
.text-sm-domain-validation{
  font-size: 12px;
  font-weight: bold;
}
.sidebar1_logo {
    max-width: 30%;
}
.bg-gray-900 {  
  background-color: #222222;
}
.left-menu-font-size {
  font-size: 15px;
}
.inp-gap{
  padding-top: 50px;
}